{% extends "base.html" %} {% load static %} {% block title %} Webmap {% endblock title %} {% block css %}
<style>
  .leaflet-popup-content {
    width: 500px !important;
  }
</style>
{% endblock css %} {% block content %}
<!-- map view -->
<h1 class="title" leaflet-browser-print-content style="display: none;">
  Land Pooling | Jagga ekikaran
</h1>
<div id="map"></div>

{% include "map-control/_navbar.html" %} 
{% include "map-control/functions.html"%} 
{% include "map-control/add-vector.html" %} 
{% include "map-control/share.html" %} 
{% include "map-control/about.html" %}
{% include "map-control/side-control.html" %}
{% include "map-control/coordinate.html" %}
{% endblock content %} 

{% block js %}
<script>
  var parcelStyle = {
    color: "#07b9d9",
    weight: 2,
    fillOpacity: 0,
  };

  var plotStyle = {
      color: "#FF0000",
      weight: 2,
      fillOpacity: 0,
    };

  var roadStyle = {
    color: "#ffcc00",
    weight: 2,
    fillOpacity: 0.6,
  };

  var irrigationStyle = {
    color: " #0000ff",
    weight: 2,
    fillOpacity: 0.6,
  };

  var poiStyle = {
    radius: 5,
    fillColor: "#ebd454",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8,
    };
    
    $.getJSON("{% url 'parcel' %}", function (data) {
    var parcel1 = L.geoJSON(data, {
      style: parcelStyle,
      onEachFeature: function (feature, layer) {
        layer.on({
          click: function (e) {
            popupContents(e);
            $(".sidebar-info").html(`<h4>Parcel</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Id </td><td> ${feature.properties.pk}</td></tr>
                                  <tr><td> Owner Name </td><td>${feature.properties.owner_name}</td></tr>
                                  <tr><td> Parcel No. </td><td>${feature.properties.parcelno}</td></tr>
                                  <tr><td> Category </td><td>${feature.properties.category}</td></tr>
                                  <tr><td> Area(m2) </td><td>${feature.properties.existing_a}</td></tr>
                                  <tr><td> Area(ropani) </td><td>${feature.properties.ropani_aan}</td></tr>`);
          },
        });
      },
    })
    var layer = new L.layerGroup().addLayer(parcel1).addTo(map),
      selector = $(".parcellayer");
     opac = $(".parcellayer-selection");
    $('.sldOpacity5').on('change', function(){
    $('.image-opacity5').html(this.value);
    parcel1.setStyle({opacity: this.value});
    });

    layerToggler(selector, layer, opac);
    removeAllVectorLayer(layer);
    addDefaultVectorLayer(layer);
    
  });
  

  $.getJSON("{% url 'plot' %}", function (data) {
    var plot1 = L.geoJSON(data, {
      style: plotStyle,
      onEachFeature: function (feature, layer) {
        layer.on({
          click: function (e) {
            popupContents(e);
            if(feature.properties.existing5 !== 0){
              $(".sidebar-info").html(`<h4>Plot</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Plot No. </td><td> ${feature.properties.pk}</td></tr>
                                <tr><td> Plot Perimeter </td><td> ${feature.properties.plot_perim}</td></tr>
                                <tr><td> Plot area(m2) </td><td> ${feature.properties.plot_area}</td></tr>
                                <tr><td> Plot area(ropani) </td><td> ${feature.properties.ropani}</td></tr>
                                <tr><td> Category </td><td> ${feature.properties.category}</td></tr>
                                <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner_name}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing_a}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_ropa}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_are}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner1}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing1}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r1}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar1}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole1}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa1}</td></tr>
                              <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner2}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing2}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r2}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_ar2}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole2}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa2}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner3}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing3}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r3}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar3}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole3}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa3}</td></tr>
                              <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner3}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing4}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r4}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_ar4}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole4}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa4}</td></tr>

                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner5}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing5}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r5}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar5}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole5}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa5}</td></tr>`);
            }
            else if(feature.properties.existing3 !== 0)
            {
              $(".sidebar-info").html(`<h4>Plot</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Plot No. </td><td> ${feature.properties.pk}</td></tr>
                                <tr><td> Plot Perimeter </td><td> ${feature.properties.plot_perim}</td></tr>
                                <tr><td> Plot area(m2) </td><td> ${feature.properties.plot_area}</td></tr>
                                <tr><td> Plot area(ropani) </td><td> ${feature.properties.ropani}</td></tr>
                                <tr><td> Category </td><td> ${feature.properties.category}</td></tr>
                                <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner_name}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing_a}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_ropa}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_are}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner1}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing1}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r1}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar1}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole1}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa1}</td></tr>
                              <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner2}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing2}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r2}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_ar2}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole2}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa2}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner3}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing3}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r3}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar3}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole3}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa3}</td></tr>`);
            }
            else if(feature.properties.existing2 !== 0){
              $(".sidebar-info").html(`<h4>Plot</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Plot No. </td><td> ${feature.properties.pk}</td></tr>
                                <tr><td> Plot Perimeter </td><td> ${feature.properties.plot_perim}</td></tr>
                                <tr><td> Plot area(m2) </td><td> ${feature.properties.plot_area}</td></tr>
                                <tr><td> Plot area(ropani) </td><td> ${feature.properties.ropani}</td></tr>
                                <tr><td> Category </td><td> ${feature.properties.category}</td></tr>
                                <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner_name}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing_a}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_ropa}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_are}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner1}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing1}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r1}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar1}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole1}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa1}</td></tr>
                              <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner2}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing2}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r2}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_ar2}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole2}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa2}</td></tr>`);
            }
            else if(feature.properties.existing1 !== 0){
              $(".sidebar-info").html(`<h4>Plot</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Plot No. </td><td> ${feature.properties.pk}</td></tr>
                                <tr><td> Plot Perimeter </td><td> ${feature.properties.plot_perim}</td></tr>
                                <tr><td> Plot area(m2) </td><td> ${feature.properties.plot_area}</td></tr>
                                <tr><td> Plot area(ropani) </td><td> ${feature.properties.ropani}</td></tr>
                                <tr><td> Category </td><td> ${feature.properties.category}</td></tr>
                                <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner_name}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing_a}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_ropa}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_are}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa}</td></tr>
                              <tr style="color:blue;"><td> Owner name </td><td> ${feature.properties.owner1}</td></tr>
                                <tr style="color:blue;"><td> Existing area (m2) </td><td> ${feature.properties.existing1}</td></tr>
                                <tr style="color:blue;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_r1}</td></tr>
                                <tr style="color:blue;"><td> Distributable area </td><td> ${feature.properties.distri_ar1}</td></tr>
                                  <tr style="color:blue;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole1}</td></tr>
                              <tr style="color:blue;"><td> Distributed area </td><td>${feature.properties.distri_pa1}</td></tr>`);
            }
            else{
              $(".sidebar-info").html(`<h4>Plot</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody><tr><td> Plot No. </td><td> ${feature.properties.pk}</td></tr>
                                <tr><td> Plot Perimeter </td><td> ${feature.properties.plot_perim}</td></tr>
                                <tr><td> Plot area(m2) </td><td> ${feature.properties.plot_area}</td></tr>
                                <tr><td> Plot area(ropani) </td><td> ${feature.properties.ropani}</td></tr>
                                <tr><td> Category </td><td> ${feature.properties.category}</td></tr>
                                <tr style="color:green;"><td> Owner name </td><td> ${feature.properties.owner_name}</td></tr>
                                <tr style="color:green;"><td> Existing area (m2) </td><td> ${feature.properties.existing_a}</td></tr>
                                <tr style="color:green;"><td> Existing area(ropani) </td><td> ${feature.properties.owner_ropa}</td></tr>
                                <tr style="color:green;"><td> Distributable area </td><td> ${feature.properties.distri_are}</td></tr>
                                  <tr style="color:green;"><td> Parcel(P) / Whole(W) </td><td>${feature.properties.par_whole}</td></tr>
                              <tr style="color:green;"><td> Distributed area </td><td>${feature.properties.distri_pa}</td></tr>`);
            }
          },
        });
      },
    })
    var layer = new L.layerGroup().addLayer(plot1).addTo(map),
      selector = $(".plotlayer");
     opac = $(".plotlayer-selection");
    $('.sldOpacity').on('change', function(){
    $('.image-opacity').html(this.value);
    plot1.setStyle({opacity: this.value});
    });

    layerToggler(selector, layer, opac);
    removeAllVectorLayer(layer);
    addDefaultVectorLayer(layer);
  });

  $.getJSON("{% url 'road' %}", function (data) {
    var road1 = L.geoJSON(data, {
      style: roadStyle,
      onEachFeature: function (feature, layer) {
        layer.on({
          click: function (e) {
            popupContents(e);
            $(".sidebar-info").html(`<h4>Road</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody>
                              <tr><td> Point ID </td><td>${feature.properties.objectid}</td></tr>`);
          },
        });
      },
    });
    var layer = new L.layerGroup().addLayer(road1),
      selector = $(".road-network");
     opac = $(".road-selection");
    $('.sldOpacity6').on('change', function(){
    $('.image-opacity6').html(this.value);
    road1.setStyle({opacity: this.value});
    });

    layerToggler(selector, layer, opac);
    removeAllVectorLayer(layer);
  });  

  $.getJSON("{% url 'irrigation' %}", function (data) {
    var irrigation1 = L.geoJSON(data, {
      style: irrigationStyle,
      onEachFeature: function (feature, layer) {
        layer.on({
          click: function (e) {
            popupContents(e);
            $(".sidebar-info").html(`<h4>Irrigation</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody>
                              <tr><td> Point ID </td><td>${feature.properties.objectid}</td></tr>`);
          },
        });
      },
    });
    var layer = new L.layerGroup().addLayer(irrigation1),
      selector = $(".irrigation-line");
     opac = $(".irrigation-selection");
    $('.sldOpacity7').on('change', function(){
    $('.image-opacity7').html(this.value);
    irrigation1.setStyle({opacity: this.value});
    });

    layerToggler(selector, layer, opac);
    removeAllVectorLayer(layer);
  });

    $.getJSON("{% url 'poi' %}", function (data) {
    var poi1 = L.geoJSON(data, {
      onEachFeature: function (feature, layer) {
        layer.on({
          click: function (e) {
            popupContents(e);
            $(".sidebar-info").html(`<h4>POI</h4>
                              <div class="container"><table class="table table-striped">
                              <thead><tr><th>Properties</th><th>Value</th></tr></thead>
                              <tbody>
                              <tr><td> Point ID </td><td>${feature.properties.pointid}</td></tr>`);
          },
        });
      },
      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, poiStyle);
      },
    });
    var layer = new L.markerClusterGroup().addLayer(poi1),
      selector = $(".poi");
     opac = $(".poi-selection");
    $('.sldOpacity8').on('change', function(){
    $('.image-opacity8').html(this.value);
    poi1.setStyle({fillOpacity: this.value});
    });

    layerToggler(selector, layer, opac);
    removeAllVectorLayer(layer);
  });

  $(".road-selection").hide();
  $(".irrigation-selection").hide();
  $(".poi-selection").hide();
  $(".cut-selection").hide();
  $(".zonal-selection").hide();

  var dem = new L.TileLayer.WMS('http://localhost:8080/geoserver/final2/wms',{
    layers: 'final2:DEM',
    format: 'image/png',
    transparent: true,
})
$(".dem-selection").hide();
var layer = new L.layerGroup().addLayer(dem),
      selector = $(".demlayer");
     opac = $(".dem-selection");
    $('.sldOpacity9').on('change', function(){
    $('.image-opacity9').html(this.value);
    dem.setOpacity(this.value);
    });
    layerToggler(selector, layer, opac);
    removeAllRasterLayer(layer);

var cut = new L.TileLayer.WMS('http://localhost:8080/geoserver/final2/wms',{
  layers: 'final2:Cut_Fill1',
  format: 'image/png',
  transparent: true,
})
var layer = new L.layerGroup().addLayer(cut),
      selector = $(".cutlayer");
     opac = $(".cut-selection");
    $('.sldOpacity10').on('change', function(){
    $('.image-opacity10').html(this.value);
    cut.setOpacity(this.value);
    });
    layerToggler(selector, layer, opac);
    removeAllRasterLayer(layer);

var zonal = new L.TileLayer.WMS('http://localhost:8080/geoserver/final2/wms',{
  layers: 'final2:Zonal_Statistics2',
  format: 'image/png',
  transparent: true,
})
var layer = new L.layerGroup().addLayer(zonal),
      selector = $(".zonallayer");
     opac = $(".zonal-selection");
    $('.sldOpacity11').on('change', function(){
    $('.image-opacity11').html(this.value);
    zonal.setOpacity(this.value);
    });
    layerToggler(selector, layer, opac);
    removeAllRasterLayer(layer);

  function layerToggler(selector, layer, opac) {
    selector.click(function () {
      if ($(this).prop("checked") === true) {
        map.addLayer(layer);
        opac.show();
      } else if ($(this).prop("checked") === false) {
        map.removeLayer(layer);
        opac.hide();
      }
    });
  }

  function removeAllVectorLayer(layer) {
    $(".remove-all-vector-layers").click(function () {
      map.removeLayer(layer);
      $(".plotlayer").prop("checked", false);
      $(".road-network").prop("checked", false);
      $(".irrigation-line").prop("checked", false);
      $(".parcellayer").prop("checked", false);
      $(".poi").prop("checked", false);
      $(".plotlayer-selection").hide();
      $(".parcellayer-selection").hide();
      $(".road-selection").hide();
      $(".irrigation-selection").hide();
      $(".poi-selection").hide();
    });
  }

  function removeAllRasterLayer(layer) {
    $(".remove-all-raster-layers").click(function () {
      map.removeLayer(layer);
      $(".demlayer").prop("checked", false);
      $(".cutlayer").prop("checked", false);
      $(".zonallayer").prop("checked", false);
      $(".dem-selection").hide();
      $(".cut-selection").hide();
      $(".zonal-selection").hide();
    });
  }
  // add default utilities layers
  function addDefaultVectorLayer(layer) {
    $(".add-default-vector-layer").click(function () {
      $(".plotlayer").prop("checked", true);
      $(".plotlayer-selection").show();
      $(".parcellayer").prop("checked", true);
      $(".parcellayer-selection").show();
      layer.addTo(map);
    });
  }

  $(".client-support-btn").click(function () {
    map.on("click", function (e) {
      var lat = e.latlng.lat,
        lng = e.latlng.lng,
        popup = `<!-- Default form register -->
  <form class="text-center border border-light p-5" action="{% url 'product' %}" method="POST">
      {% csrf_token %}

      <p class="h4 mb-4">Product Form</p>

      <div class="form-row mb-4">
          <div class="col">
              <!-- First name -->
              <input type="text" name="firstname" id="defaultRegisterFormFirstName" class="form-control" placeholder="Your First Name">
          </div>
          <div class="col">
              <!-- Last name -->
              <input type="text" name="lastname" id="defaultRegisterFormLastName" class="form-control" placeholder="Your Last Name">
          </div>
      </div>

      <!-- Product header -->
      <div class="form-row mb-4">
        <div class="col">
      <input type="text" name="product_header" id="defaultRegisterPhonePassword" class="form-control" placeholder="Input your product header" aria-describedby="defaultRegisterFormPhoneHelpBlock">
      </div>  
      <div class="col">  
      <input type="number" name="plot_no" id="defaultRegisterplono" class="form-control" placeholder="Enter plot number">
      </div>
      </div>
      <input type="hidden" name="lat" value="${lat}">
      <input type="hidden" name="lng" value = "${lng}">

      <!-- Password -->
      <input type="text" name="product_body" id="defaultRegisterFormPassword" class="form-control" placeholder="Your product in detail" aria-describedby="defaultRegisterFormPasswordHelpBlock">

      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block product-submit" type="submit">Submit your product</button>
  </form>`;
      var marker = new L.Marker([lat, lng])
          .addTo(map)
          .bindPopup(popup)
          .openPopup(),
        circleMarker = new L.circleMarker([lat, lng], bufferStyle, {
          draggable: true,
        }).addTo(map);
      map.off("click");
    });
  });
</script>
{% endblock js %}