<!-- about section -->
<section class="about-option" style="display: none" title="About">
    <h3>Land Pooling</h3>
    <div>
        Land pooling, more commonly known as land readjustment, is a technique that involves 
        acquiring fragmented plots belonging to many different landholders, consolidating the various 
        plots into one area, subdividing this area in an orderly and planned manner, and redistributing 
        plots back to the original owners. Land pooling is an effective tool for combined farming, it is 
        either called Jagga ekikaran or Chaklabandi in Nepali.
    </div>
    <div>
        The framework for the WebGIS was structured to provide 
        a centralized system with web based access to accurate and updated information on 
        land pooling. It will be applicable in managing databases of the land owners, land zoning on 
        the basis of slope, network analysis, land uses etc. The irregular plot shall be converted into the 
        regular and well served digitized plot so that every spatial attribute is analyzed in a web based 
        model. It will bring uniformity in the data management of various parcels combined into big 
        plots and guarantees ownerships in the combined parcels on the proportion basis. The web 
        based model will reduce the redundancy of doing the same tasks of land pooling repeatedly of 
        various study areas.
    </div>
</section>